{% extends "templates/spawn.html" %}
{% block meta %}
{{ super() }}

    {% if color_theme|string()  == 'deafrica' %}
    <style>
        .form-control.input-group:hover, .selected-option{
            background: rgba(51, 102, 153, 0.8);
            color: #fff;
            cursor: pointer;
        }
    </style>
    {% else %}
    <style>
        #kubespawner-profiles-list .profile:hover, .selected-option{
            background: rgba(0, 161, 222, 0.8);
            color: #fff;
            cursor: pointer;
        }
        #kubespawner-profiles-list h3{
            font-size: 14px !important;
        }
        #kubespawner-profiles-list .profile {
            padding: 6px 12px !important;
            border: 1px solid #ccc !important;
        }

        .radio input[type=radio] {
            margin-top: -1px;
            margin-left: -14px !important;
        }
    </style>
    {% endif %}

<script>
  $(document).ready(function(){
        $('#kubespawner-profiles-list .profile:first').addClass('selected-option');
        $('#kubespawner-profiles-list .profile').click(function(){
            $('#kubespawner-profiles-list .profile').removeClass('selected-option')
            $(this).addClass('selected-option');
        });
  });

</script>
{% endblock %}

  {% block heading %}
  <div class="row text-center">

    {% if color_theme|string()  == 'deafrica' %}
    <h1 style="color: #336699;">Server Options</h1>
    {% else %}
    <h1 style="color: #00a1de;">Server Options</h1>
    {% endif %}
  </div>
  {% endblock %}
